<form [formGroup]="form">
	<div class="row">
		<label for="cityName">City: </label>
		<input formControlName="cityName" type="text" />
	</div>

	<div class="row">
		<label for="mode">Mode: </label>
		<select formControlName="mode" (change)="search()">
			<option value="daily">Daily</option>
			<option value="hourly">hourly</option>
		</select>
	</div>

	<div class="row">
		<button (click)="search()">Search</button>
	</div>
</form>

<div class="row">
	<div *ngIf="errorMessage$ | async; let errorMessage" class="error-message">{{ errorMessage }}</div>

	<div class="row table-container" *ngIf="dayTemperatures.length > 0 && this.mode === 'daily'">
		<bp-weather-table [citiesData]="dayTemperatures" format="daily"></bp-weather-table>
	</div>

	<div class="row table-container" *ngIf="hourTemperatures.length > 0 && this.mode === 'hourly'">
		<bp-weather-table [citiesData]="hourTemperatures" format="hourly"></bp-weather-table>
	</div>
</div>
