<table>
	<thead>
		<tr>
			<th>City Name</th>
			<ng-container *ngIf="citiesData && citiesData.length > 0">
				<th *ngFor="let weatherInfo of citiesData[0]!.values">
					<ng-container *ngIf="format === 'daily'">
						{{ weatherInfo.time | date: 'EE' }}
					</ng-container>
					<ng-container *ngIf="format === 'hourly'">
						{{ weatherInfo.time | date: 'dd/MM HH:mm' }}
					</ng-container>
				</th>
			</ng-container>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let rowData of citiesData">
			<td>{{ rowData?.cityName | capitalizeFirstLetter }}</td>
			<td *ngFor="let weatherInfo of rowData?.values">{{ weatherInfo.tempValue | kelvinToCelsius }}°</td>
		</tr>
	</tbody>
</table>
